@use "./util/colors" as color;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    background-color: color.$veryPaleBlue;
    min-height: 100vh;
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background: white;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #d7d7df;
        border-radius: 20px;
    }
}
